body {
  background-color: black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  display: inline-block;
  font-size: 4vh;
  border-radius: 30px;
  font-weight: bold;
  padding: 1.5rem 1.5rem;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #fcfcfc,
    0 0 20px #aeafb1, 0 0 25px #000000, 0 0 30px #000000, 0 0 35px #040404;
}
h4 {
  background-color: black;

  color: white;
}

h2 {
  font-size: 2rem;
  cursor: pointer;
  color: whitesmoke;
}

p {
  color: whitesmoke;
}
.mainLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}

.footerLogo {
  max-width: 20%;
}

nav ul {
  list-style: none;
  text-align: center;

  background-color: #0e0d0d;
  border-radius: 20px;
  padding-left: 0px;
}

nav li {
  display: inline-block;
  padding: 1.5rem;
  font-size: 20px;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
}

a:visited,
a:active {
  color: whitesmoke;
}
a:hover {
  color: white;
  text-shadow: 0 0 5px #fbffff, 0 0 25px #ffffff, 0 0 50px #ffffff,
    0 0 100px #ffffff;
}

.promo {
  background-image: url(comb.jpg);
  text-align: left;
  background-size: 100%;
  background-position-y: 20%;
}
section {
  display: flex;

  gap: 1.5%;
  text-align: center;
}

article {
  flex: 1;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  background-color: #0e0d0d;
  margin-bottom: 1rem;
}

article > img {
  border-radius: 20px;
  display: inline-block;
  width: 90%;
  height: auto;
}

footer {
  display: inline-flex;
}

footer div {
  flex: 1;
}

footer h3 {
  color: white;
  text-align: right;
}

/*Media query */

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
  article {
    width: 100%;
  }
}
